* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: body_switch_collor 30s infinite;
}

:root {
    --coror_fo_cube: red;
}

@keyframes body_switch_collor {
    0% {
        background-color: black;
    }

    25% {

        background-color: white;
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: black;
    }
}


/* ------------------------------------------------------------------------------------------ */

/* the parte of the code is fore the basique cube + animation */

/* .s3d{
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.cube{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: roation_cube 10s infinite alternate-reverse ;
}

.face{
    width: 200px;
    height: 200px;
    position: absolute;
}

.up{
    background-color: blueviolet;
    transform: rotateX(90deg) translateZ(100px);   
}

.down{
    background-color: aqua;
    transform: rotateX(90deg) translateZ(-100px);
}

.left{
    background-color:green;
    transform:rotateY(90deg) translateZ(100px);
}
.right{
    background-color: burlywood;
    transform: rotateY(-90deg) translateZ(100px);
}
.back{
    background-color: cadetblue;
    transform: rotateX(180deg) translateZ(100px);
}
.front{
    background-color: darkblue;
    transform: rotateX(0deg) translateZ(100px);
}


@keyframes roation_cube {
    0%{
        transform:  rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform:  rotateX(-30deg) rotateY(360deg);
    }
} */

/* ------------------------------------------------------------------------------------------ */

/* the parte of the code is for the biotiful cube */

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(39deg);
    animation: roation_cube 10s infinite alternate-reverse;
}

.cube div {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    /* border: var(--coror_fo_cube) 3px solid; */
}

.up {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #151515;
    transform: rotateX(90deg) translateZ(100px);
}

.up::before {
    height: 200px;
    width: 200px;
    content: '';
    position: absolute;
    background-color: var(--coror_fo_cube);
    box-shadow: 1px 1px 20px 19px var(--coror_fo_cube);
    transform: translateZ(-200px);
    border-radius: 15px;
}

.left {
    background: linear-gradient(#151515, var(--coror_fo_cube));
    transform: rotateY(90deg) translateZ(100px);
}

.right {
    background: linear-gradient(#151515, var(--coror_fo_cube));
    transform: rotateY(-90deg) translateZ(100px);
}

.back {
    background: linear-gradient(#151515, var(--coror_fo_cube));
    transform: rotateX(0) translateZ(-100px);
}

.front {
    background: linear-gradient(#151515, var(--coror_fo_cube));
    transform: rotateX(0deg) translateZ(100px);
}


@keyframes roation_cube {
    0% {
        transform: rotateX(-30deg) rotateY(39deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(321deg);
    }
}

/* ------------------------------------------------------------------------------------------ */